.footer {
	background: var(--light-grey-section);
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.footer-logo-container {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0px;
}

.footer-logo-container svg{
	height: 37px;
	width: 37px;
}

.footer-media-conteiner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
	width: 35%;
	padding: 10px 0px;
}

.footer-media-conteiner svg {
	height: 18px;
	width: 18px;
	fill: rgba(128, 128, 128, 0.326);
}