@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: 0;
	color: #000;
  font-size: 14px;
}

p {
	font-size: 23px;
	line-height: 30px;
  font-weight: 300;
}
