.tell-your-friends {
	background: #fac960;
}

.tell-your-friends-container {
	width: 90%;
	height: 50%;
}

.share-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	padding: 35px 0px;
}

.share-button {
	width: 55px;
	height: 65px;
	border: none;
	margin-right: 30px;
}

.widjet {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	width: 61px;
	height: 33px;
	background: white;
	border: 1px solid black;
	font-weight: 900;
}