.unlimited-space {
	background: var(--light-grey-section);

}

.unlimited-space-container  {
	width: 90%;
}

.unlimited-space-image-container {
	padding: 50px 0px 20px 0px;
	height: 100%;
	width: 55%;
}

.unlimited-space-image-container svg {
	height: 100%;
	width: 100%;
	fill: rgba(128, 128, 128, 0.326);
}